---

---

<footer>
    <div class="footer-info">
        <p>© 2024 Jean Trujillo</p>
    </div>
    <div class="footer-redes">
        <ul>
            <li><a target="_blank" href="https://github.com/jeantpdev/"><i class="fa-brands fa-github" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/jeantpdev/"> <i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>

<style>

    footer{
        display: flex;
        justify-content: space-between;
        font-size: 1em;
    }

    footer li{
        list-style: none;
    }

    footer ul{
        display: flex;
        column-gap: 15px;
    }

</style>