---


---

<div class="modal" >
  <div class="modal-contenido">
    <div class="titulo modal-cabecera">
      <a><i class="fa-solid fa-remove cerrar-modal"></i></a>
    </div>

    <div class="modal-cuerpo" id="modalCuerpo"></div>

    <div class="botones modal-footer"></div>
  </div>
</div>

<style>
  .modal {
    display: none;
    /* POr defecto no se muestran en pantalla hasta que se abran */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .modal-contenido {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    margin: 2% 25%;
    padding: 2vw;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    width: 50vw;
    min-height: 80vh;
    justify-content: center;
  }

  .modal-cabecera {
    display: flex;
    border-bottom: 1px solid var(--fondo);
  }

  .modal-cabecera {
    display: flex;
    align-items: center;
    /* column-gap: 0.5vw; */
    justify-content: flex-end;
    padding: 0 1vw 1vw 0;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
</style>
